# MariaDB/MySQL Database Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=matomo
MYSQL_USER=matomo
MYSQL_PASSWORD=

# Matomo Application Configuration
MATOMO_DATABASE_ADAPTER=mysql
MATOMO_DATABASE_TABLES_PREFIX=matomo_
MATOMO_DATABASE_DBNAME=matomo
MATOMO_DATABASE_USERNAME=matomo
# set the same as MYSQL_PASSWORD above
MATOMO_DATABASE_PASSWORD=

# MariaDB Optimization Settings
MARIADB_AUTO_UPGRADE=1
MARIADB_INITDB_SKIP_TZINFO=1
MARIADB_DISABLE_UPGRADE_BACKUP=1